<h2 mat-dialog-title>{{ 'action.filters' | translate }}</h2>

<mat-dialog-content>
  <div fxLayout="column" fxLayoutGap="12px">
    <mat-form-field>
      <mat-select [placeholder]="'common.status' | translate" [(ngModel)]="status">
        <mat-option value="">{{ 'common.all' | translate }}</mat-option>
        @for (statusOption of data.statuses; track statusOption) {
          <mat-option [value]="statusOption">{{ statusOption }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select [placeholder]="'user.type' | translate" [(ngModel)]="type">
        <mat-option value="">{{ 'common.all' | translate }}</mat-option>
        @for (typeOption of data.userTypes; track typeOption) {
          <mat-option [value]="typeOption">{{ typeOption }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="clear()" [matTooltip]="'action.clearFilters' | translate" matTooltipPosition="above">{{ 'action.clearFilters' | translate }}</button>
  <button mat-button type="button" mat-dialog-close [matTooltip]="'action.cancel' | translate" matTooltipPosition="above">{{ 'action.cancel' | translate }}</button>
  <button mat-raised-button color="primary" type="button" (click)="apply()" [matTooltip]="'action.apply' | translate" matTooltipPosition="above">{{ 'action.apply' | translate }}</button>
</mat-dialog-actions>
