<div class="p-3">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="100" fxFlex.gt-md="58">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ 'nav.users' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="toolbar" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between center" fxLayoutGap="12px">
            @if (isSystemOwner) {
              <mat-form-field class="company-select">
                <mat-select [placeholder]="'common.company' | translate" [value]="selectedCompanyId" (selectionChange)="changeCompany($event.value)">
                  @for (company of companies; track company.id) {
                    <mat-option [value]="company.id">{{ company.name }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            }
            <button mat-stroked-button color="primary" type="button" (click)="loadUsers()">
              <mat-icon>refresh</mat-icon>
              {{ 'action.refresh' | translate }}
            </button>
          </div>

          <div class="table-wrapper">
            <table class="admin-table">
              <thead>
                <tr>
                  <th>{{ 'common.user' | translate }}</th>
                  <th>{{ 'common.type' | translate }}</th>
                  <th>{{ 'company.phone' | translate }}</th>
                  <th>{{ 'common.status' | translate }}</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                @for (user of users; track user.id) {
                  <tr [class.selected]="selectedUser?.id === user.id">
                    <td>
                      <strong>{{ user.firstName }} {{ user.lastName }}</strong><br>
                      <small>{{ user.email }}</small><br>
                      <small>{{ user.personalEmail || ('common.noPersonalEmail' | translate) }}</small>
                    </td>
                    <td>{{ user.userType }}</td>
                    <td>{{ user.phoneNumber || '-' }}</td>
                    <td>{{ user.status }}</td>
                    <td class="actions">
                      @if (!isSystemOwner) {
                        <button mat-icon-button type="button" (click)="selectUser(user)" [attr.aria-label]="'user.edit' | translate">
                          <mat-icon>edit</mat-icon>
                        </button>
                      }
                    </td>
                  </tr>
                } @empty {
                  <tr>
                    <td colspan="5" class="empty">{{ isLoading ? ('common.loadingUsers' | translate) : ('common.noUsers' | translate) }}</td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    @if (!isSystemOwner) {
    <div fxFlex="100" fxFlex.gt-md="42">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ selectedUser ? ('user.edit' | translate) : ('user.create' | translate) }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="save()" fxLayout="column" fxLayoutGap="12px">
            @if (isSystemOwner) {
              <mat-form-field>
                <mat-select [placeholder]="'common.company' | translate" formControlName="companyId">
                  @for (company of companies; track company.id) {
                    <mat-option [value]="company.id">{{ company.name }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            }
            <mat-form-field>
              <input matInput [placeholder]="'user.loginEmail' | translate" formControlName="email" [readonly]="!!selectedUser">
              <mat-error>{{ 'common.emailRequired' | translate }}</mat-error>
            </mat-form-field>
            @if (!selectedUser) {
              <mat-form-field>
                <input matInput [placeholder]="'user.temporaryPassword' | translate" formControlName="password" type="password">
                <mat-error>{{ 'common.passwordMin' | translate }}</mat-error>
              </mat-form-field>
            }
            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="12px">
              <mat-form-field fxFlex>
                <input matInput [placeholder]="'user.firstName' | translate" formControlName="firstName">
                <mat-error>{{ 'user.firstNameRequired' | translate }}</mat-error>
              </mat-form-field>
              <mat-form-field fxFlex>
                <input matInput [placeholder]="'user.lastName' | translate" formControlName="lastName">
                <mat-error>{{ 'user.lastNameRequired' | translate }}</mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="12px">
              <mat-form-field fxFlex>
                <mat-select [placeholder]="'user.type' | translate" formControlName="userType" [disabled]="!!selectedUser">
                  @for (type of userTypes; track type) {
                    <mat-option [value]="type">{{ type }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex>
                <mat-select [placeholder]="'common.status' | translate" formControlName="status">
                  @for (status of statuses; track status) {
                    <mat-option [value]="status">{{ status }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
            <mat-form-field>
              <input matInput [placeholder]="'user.identificationNumber' | translate" formControlName="identificationNumber">
            </mat-form-field>
            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="12px">
              <mat-form-field fxFlex>
                <input matInput [placeholder]="'user.personalEmail' | translate" formControlName="personalEmail">
              </mat-form-field>
              <mat-form-field fxFlex>
                <input matInput [placeholder]="'user.phoneNumber' | translate" formControlName="phoneNumber">
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
              <button mat-button type="button" (click)="newUser()">{{ 'user.create' | translate }}</button>
              <button mat-raised-button color="primary" type="submit" [disabled]="isSaving">
                {{ isSaving ? ('action.saving' | translate) : ('action.save' | translate) }}
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>

      <mat-card class="mt-3">
        <mat-card-header>
          <mat-card-title>{{ 'admin.assignRoles' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="roleForm" fxLayout="column" fxLayoutGap="12px">
            <mat-form-field>
              <mat-select [placeholder]="'common.roles' | translate" formControlName="roleIds" multiple>
                @for (role of roles; track role.id) {
                  <mat-option [value]="role.id">{{ role.name }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="end center">
              <button mat-raised-button color="primary" type="button" (click)="assignRoles()" [disabled]="!selectedUser">
                {{ 'action.assign' | translate }}
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    }
  </div>
</div>
