//----------ng-scrollbar---------------
ng-scrollbar {
  --scrollbar-thickness: 6 !important;
  --scrollbar-hover-thickness: 8 !important; 
  --scrollbar-thumb-color: rgba(204,204,204,0.8) !important;
  --scrollbar-thumb-hover-color: #ccc !important;
  --scrollbar-border-radius: 4px !important; 
  --scrollbar-offset: 2 !important;
}
