<div class="p-3">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ 'nav.permissions' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="toolbar" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between center" fxLayoutGap="12px">
        <div fxLayout="row" fxLayoutGap="8px">
          <button mat-raised-button color="primary" type="button" (click)="openCreateDialog()" [matTooltip]="'permission.create' | translate" matTooltipPosition="above">
            <mat-icon>add</mat-icon>
            {{ 'permission.create' | translate }}
          </button>
          <button mat-stroked-button color="primary" type="button" (click)="loadPermissions()" [matTooltip]="'action.refresh' | translate" matTooltipPosition="above">
            <mat-icon>refresh</mat-icon>
            {{ 'action.refresh' | translate }}
          </button>
        </div>
        <span>{{ dataSource.data.length }} {{ 'common.records' | translate }}</span>
      </div>

      <div class="table-wrapper">
        <table mat-table [dataSource]="dataSource" class="w-100">
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef>{{ 'common.code' | translate }}</th>
            <td mat-cell *matCellDef="let permission">{{ permission.code }}</td>
          </ng-container>
          <ng-container matColumnDef="module">
            <th mat-header-cell *matHeaderCellDef>{{ 'common.module' | translate }}</th>
            <td mat-cell *matCellDef="let permission">{{ permission.moduleName }}</td>
          </ng-container>
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>{{ 'permission.category' | translate }}</th>
            <td mat-cell *matCellDef="let permission">{{ permission.category }}</td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>{{ 'common.description' | translate }}</th>
            <td mat-cell *matCellDef="let permission">{{ permission.description || '-' }}</td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="actions"></th>
            <td mat-cell *matCellDef="let permission" class="actions">
              <button mat-icon-button type="button" (click)="openEditDialog(permission)" [attr.aria-label]="'action.edit' | translate" [matTooltip]="'action.edit' | translate" matTooltipPosition="above">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" type="button" (click)="remove(permission)" [attr.aria-label]="'action.delete' | translate" [matTooltip]="'action.delete' | translate" matTooltipPosition="above">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let permission; columns: displayedColumns;"></tr>
        </table>
        @if (!isLoading && dataSource.data.length === 0) {
          <div class="empty">{{ 'common.noPermissions' | translate }}</div>
        }
        @if (isLoading) {
          <div class="empty">{{ 'common.loadingPermissions' | translate }}</div>
        }
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
