<h2 mat-dialog-title>{{ data.permission ? ('permission.title.edit' | translate) : ('permission.title.create' | translate) }}</h2>

<mat-dialog-content>
  <form [formGroup]="form" fxLayout="column" fxLayoutGap="12px">
    <mat-form-field>
      <input matInput [placeholder]="'common.code' | translate" formControlName="code">
      <mat-error>{{ 'common.codeRequired' | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="3" [placeholder]="'common.description' | translate" formControlName="description"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" mat-dialog-close [matTooltip]="'action.cancel' | translate" matTooltipPosition="above">{{ 'action.cancel' | translate }}</button>
  <button mat-raised-button color="primary" type="button" (click)="save()" [matTooltip]="'action.save' | translate" matTooltipPosition="above">{{ 'action.save' | translate }}</button>
</mat-dialog-actions>
