<h2 mat-dialog-title>{{ data.permission ? ('permission.title.edit' | translate) : ('permission.title.create' | translate) }}</h2>

<mat-dialog-content>
  <form [formGroup]="form" fxLayout="column" fxLayoutGap="12px">
    <mat-form-field>
      <input matInput [placeholder]="'common.code' | translate" formControlName="code">
      <mat-error>{{ 'common.codeRequired' | translate }}</mat-error>
    </mat-form-field>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="12px">
      <mat-form-field fxFlex>
        <mat-select [placeholder]="'common.module' | translate" formControlName="moduleId">
          @for (module of data.modules; track module.id) {
            <mat-option [value]="module.id">{{ module.name }}</mat-option>
          }
        </mat-select>
        <mat-error>{{ 'common.moduleRequired' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-select [placeholder]="'permission.category' | translate" formControlName="category">
          <mat-option value="API">API</mat-option>
          <mat-option value="UI">UI</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="12px">
      <mat-form-field fxFlex>
        <input matInput [placeholder]="'permission.action' | translate" formControlName="action">
      </mat-form-field>
      <mat-form-field fxFlex>
        <input matInput [placeholder]="'permission.label' | translate" formControlName="label">
      </mat-form-field>
    </div>
    <mat-form-field>
      <textarea matInput rows="3" [placeholder]="'common.description' | translate" formControlName="description"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" mat-dialog-close [matTooltip]="'action.cancel' | translate" matTooltipPosition="above">{{ 'action.cancel' | translate }}</button>
  <button mat-raised-button color="primary" type="button" (click)="save()" [matTooltip]="'action.save' | translate" matTooltipPosition="above">{{ 'action.save' | translate }}</button>
</mat-dialog-actions>
